<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.PermissionMapper">
    <!--查询权限表所有-->
    <select id="findAll" resultType="permission">
        SELECT * FROM permission
    </select>

    <!---->
    <select id="findByRoleId" resultType="permission">
        SELECT * FROM permission WHERE id IN ( SELECT permissionId FROM role_permission WHERE roleId=#{roleId})
    </select>
</mapper>