<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.RoleMapper">
    <!--不需要传递参数,userId(可随意写)是UserMapper.xml中<collection property="roles" column="id"
      ofType="role" fetchType="lazy"
    select="com.itheima.mapper.RoleMapper.findByUserId"></collection>的column对应的id值 -->
    <select id="findByUserId"  resultType="role" >
        SELECT * FROM role WHERE id in ( SELECT roleid from users_role WHERE userid=#{userid} )
    </select>

    <!--查询所有角色信息-->
    <select id="findAll" resultType="role" >
        SELECT * FROM role
    </select>
    <!--添加角色信息-->
    <insert id="save" parameterType="role">
        INSERT INTO role (roleName,roleDesc) VALUES(#{roleName},#{roleDesc})
    </insert>
</mapper>